@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  font-family: Inter, sans-serif;
  background:#F8FAFC;
  transition: background-color .3s ease,color .3s ease;
}